/* Imported at the end of styles.scss */
$not-found-color: #EEE;

#not_found {				
	color: $not-found-color;
	text-align: center;

	a {
		text-decoration: none;
		&:visited, &:any-link  {
			color: $not-found-color;
		}
	}

	.raised-lettering {
		font-size: 12em;
		font-weight: bold;
		font-family: Helvetica;
		text-shadow: 0 1px 0 darken($not-found-color, 14.29%), 0 2px 0 darken($not-found-color, 15.55%), 0 3px 0 darken($not-found-color, 21.42%), 0 4px 0 darken($not-found-color, 22.27%), 0 5px 0 darken($not-found-color, 28.57%), 0 6px 1px;
	}
}
