/* Simulates a CRT screen turning on. */
@keyframes turn-on{
    0%{
        transform: scale(1, 0.8) translate3d(0, 0, 0);
        filter: brightness(30);
        opacity: 1;
    }
    3.5%{
        transform: scale(1, 0.8) translate3d(0, 100%, 0);
    }

    3.6%{
        transform: scale(1, 0.8) translate3d(0, -100%, 0);
        opacity: 1;
    } 

    9%{
        transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
        filter: brightness(30);
        opacity: 0.1;
    }

    11%{
        transform: scale(1, 1) translate3d(0, 0, 0);
        filter: contrast(0) brightness(0);
        opacity: 0;
    }

    100%{
        transform: scale(1, 1) translate3d(0, 0, 0);
        filter: contrast(1) brightness(1) saturate(1);
        opacity: 1;
    }
}

.screen {
    @media screen and (prefers-reduced-motion: no-preference) {
        animation: turn-on 2.5s linear;
        animation-fill-mode: forwards;
    }
}

