@import "styles/utility";
@import "styles/crt";

/* Additional imports at the end of this document for the 404 page. */

/* Blends and rotates these colors around an image's alpha mask. Gives the image
 * a flickering, otherworldy glow.
 * DEPENDS: utility.scss
 *  -- For the trigometric functions that calculate the shadow offset in a 
 *  -- clockwise manner.
*/
$color-row-1: #35327f #472f7a #5d2d7b #742a77 #982676 #ad2275 #d31674 #df1074;
$color-row-2: #d84083 #c04484 #c14384 #954783 #6e4786 #514887 #3c4787 #224887;
@keyframes surreal {
	$c_len: length($color-row-1);
	$num_frames: 32;
	@for $i from 0 through $num_frames {
		$rad_step: $i * ((2 * $pi) / $c_len);
		#{percentage($i * (1 / $c_len))} {
		    filter: drop-shadow(2 * cos($rad_step) + px 2 * sin($rad_step) + px 3px nth($color-row-1, ($i % $c_len) + 1))
		            drop-shadow(2 * cos($rad_step + $pi) + px 2 * sin($rad_step + $pi) + px 3px nth($color-row-2, ($i % $c_len) + 1));
		}
	}
}

/* This page is meant to take up the entire viewport. Vertical scrolling 
 * optional for ver small devices. (They should be viewing the static page).
*/
html, body {
	width: 100%;
	height: 100%;
	min-height: 100vh;

	margin: 0px;
	padding: 0px;
}

body {
	background-color: #202020;
	background: url(images/bg.png);
	@media only screen and (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
		background: url(images/bg@2X.png);
	}
}

/* Allow for minor scaling depending on screen size */
$container-max-width: 414px;
$container-min-width: 320px;

/*Centered column to hold the content */
#container {
	margin: 0 auto;
	padding: 25px 0;
	display: block;

	position: relative;
    text-align: center;

	width: 100%;
	max-width: $container-max-width;
	min-width: $container-min-width;

	/* Images should be constrained to the width of the container. */
	img {
		max-width: 50%;
	}

	/* Wrapper div adds the glitching scanline effect. */
	#logo {
		/* Required to make the absolute positioning of the duplicate images
		 * work.
		*/
		position: relative;

		/* Image should fit inside the viewport at all times */
		max-height: 100vh;
		
		@media screen and (prefers-reduced-motion: no-preference) {
			/* Add the surreal image effect to one of the logo images. */
			picture:nth-child(1) img {
				animation: surreal 3s linear infinite;
				animation-fill-mode: both;
			}
		}
	}

	/* Class added to the wrapping <picture> tag for positioning. */
	#title {
		/* This puts it around breast height. */
		width: 100%;

		img {
			/* Distorted retro 3D effect, changed to fit color scheme. */
			filter: drop-shadow(1px 1px 3px #df1074)
	        		drop-shadow(-1px -1px 3px #047ba5);
		}
	}

    #linked-list {
        width: 100%;
        text-align: center;

        font-size: 1rem;
        font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;

        a {
            color: #EFEFF4;
            text-decoration: none;

            max-width: 256px;
            margin: 10px auto;
            display: block;

            @media screen and (max-width: 600px) {
                height: 48px;
                margin: 10px auto;
                background: rgba(32, 32, 32, 0.75);

                line-height: 48px;
                font-weight: bolder;
            }

            :visited {
                color: inherit;
            }
        }
    }
}

/* Link on the 404 page back to */
#not-found {
    width: 100%;
    margin: 50px auto;
    text-align: center;

    a {
        color: #EFEFF4;
        display: block;
        font-size: 1rem;
        font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
        text-decoration: none;

        :visited {
            color: inherit;
        }
    }
}

