/* Simulates a CRT screen turning on. */
@keyframes turn-on {
	0% {
		transform: scale(1, 0.8) translate3d(0, 0, 0);
		filter: brightness(30);
		opacity: 1;
	}

	3.5% {
		transform: scale(1, 0.8) translate3d(0, 100%, 0);
	}

	3.6% {
		transform: scale(1, 0.8) translate3d(0, -100%, 0);
		opacity: 1;
	}

	9% {
		transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
		filter: brightness(30);
		opacity: 0.1;
	}

	11% {
		transform: scale(1, 1) translate3d(0, 0, 0);
		filter: contrast(0) brightness(0);
		opacity: 0;
	}

	100% {
		transform: scale(1, 1) translate3d(0, 0, 0);
		filter: contrast(1) brightness(1) saturate(1);
		opacity: 1;
	}
}

@media screen and (prefers-reduced-motion: no-preference) {
	.screen {
		animation: turn-on 2.5s linear;
		animation-fill-mode: forwards;
	}
}

/* Easy way to rotate SASS lists */
/* Reverses a SASS list */
/* Returns $value^$exp */
/* Calculates the factorial of a number */
/* Yum */
/* Converts degrees to radians */
/* Standard (approximate) trig functions in your CSS */
/* Additional imports at the end of this document for the 404 page. */
/* Blends and rotates these colors around an image's alpha mask. Gives the image
 * a flickering, otherworldy glow.
 * DEPENDS: utility.scss
 *  -- For the trigometric functions that calculate the shadow offset in a 
 *  -- clockwise manner.
*/
@keyframes surreal {
  0% {
    filter: drop-shadow(2px 0px 3px #35327f) drop-shadow(-2.0px 0.0px 3px #d84083); }
  12.5% {
    filter: drop-shadow(1.41421px 1.41421px 3px #472f7a) drop-shadow(-1.41421px -1.41421px 3px #c04484); }
  25% {
    filter: drop-shadow(0px 2px 3px #5d2d7b) drop-shadow(0.0px -2.0px 3px #c14384); }
  37.5% {
    filter: drop-shadow(-1.41421px 1.41421px 3px #742a77) drop-shadow(1.41425px -1.41421px 3px #954783); }
  50% {
    filter: drop-shadow(-2.0px 0.0px 3px #982676) drop-shadow(2.0006px 0.00017px 3px #6e4786); }
  62.5% {
    filter: drop-shadow(-1.41421px -1.41421px 3px #ad2275) drop-shadow(1.42211px 1.41666px 3px #514887); }
  75% {
    filter: drop-shadow(0.0px -2.0px 3px #d31674) drop-shadow(0.07862px 2.02707px 3px #3c4787); }
  87.5% {
    filter: drop-shadow(1.41425px -1.41421px 3px #df1074) drop-shadow(-0.78786px 1.65184px 3px #224887); }
  100% {
    filter: drop-shadow(2.0006px 0.00017px 3px #35327f) drop-shadow(2.15036px 1.72068px 3px #d84083); }
  112.5% {
    filter: drop-shadow(1.42211px 1.41666px 3px #472f7a) drop-shadow(22.14106px 9.18439px 3px #c04484); }
  125% {
    filter: drop-shadow(0.07862px 2.02707px 3px #5d2d7b) drop-shadow(117.15203px 54.8736px 3px #c14384); }
  137.5% {
    filter: drop-shadow(-0.78786px 1.65184px 3px #742a77) drop-shadow(521.34508px 269.55051px 3px #954783); }
  150% {
    filter: drop-shadow(2.15036px 1.72068px 3px #982676) drop-shadow(2091.45809px 1163.84319px 3px #6e4786); }
  162.5% {
    filter: drop-shadow(22.14106px 9.18439px 3px #ad2275) drop-shadow(7696.6711px 4564.87439px 3px #514887); }
  175% {
    filter: drop-shadow(117.15203px 54.8736px 3px #d31674) drop-shadow(26232.32444px 16507.32747px 3px #3c4787); }
  187.5% {
    filter: drop-shadow(521.34508px 269.55051px 3px #df1074) drop-shadow(83463.24704px 55549.6127px 3px #224887); }
  200% {
    filter: drop-shadow(2091.45809px 1163.84319px 3px #35327f) drop-shadow(249627.6537px 175242.84657px 3px #d84083); }
  212.5% {
    filter: drop-shadow(7696.6711px 4564.87439px 3px #472f7a) drop-shadow(706068.61194px 521527.86956px 3px #c04484); }
  225% {
    filter: drop-shadow(26232.32444px 16507.32747px 3px #5d2d7b) drop-shadow(1898563.48895px 1472141.06325px 3px #c14384); }
  237.5% {
    filter: drop-shadow(83463.24704px 55549.6127px 3px #742a77) drop-shadow(4875255.42893px 3960109.24961px 3px #954783); }
  250% {
    filter: drop-shadow(249627.6537px 175242.84657px 3px #982676) drop-shadow(12002866.3766px 10193999.7444px 3px #6e4786); }
  262.5% {
    filter: drop-shadow(706068.61194px 521527.86956px 3px #ad2275) drop-shadow(28431558.63px 25202219.9192px 3px #514887); }
  275% {
    filter: drop-shadow(1898563.48895px 1472141.06325px 3px #d31674) drop-shadow(64995175.163px 60032058.4955px 3px #3c4787); }
  287.5% {
    filter: drop-shadow(4875255.42893px 3960109.24961px 3px #df1074) drop-shadow(143784859.106px 138170497.771px 3px #224887); }
  300% {
    filter: drop-shadow(12002866.3766px 10193999.7444px 3px #35327f) drop-shadow(308571113.1px 308062419.98px 3px #d84083); }
  312.5% {
    filter: drop-shadow(28431558.63px 25202219.9192px 3px #472f7a) drop-shadow(643806398.917px 666871071.378px 3px #c04484); }
  325% {
    filter: drop-shadow(64995175.163px 60032058.4955px 3px #5d2d7b) drop-shadow(1308474108.83px 1404472947.98px 3px #c14384); }
  337.5% {
    filter: drop-shadow(143784859.106px 138170497.771px 3px #742a77) drop-shadow(2595094191.89px 2883067638.98px 3px #954783); }
  350% {
    filter: drop-shadow(308571113.1px 308062419.98px 3px #982676) drop-shadow(5030537756.63px 5778188586.66px 3px #6e4786); }
  362.5% {
    filter: drop-shadow(643806398.917px 666871071.378px 3px #ad2275) drop-shadow(9545085085.96px 11323549051.1px 3px #514887); }
  375% {
    filter: drop-shadow(1308474108.83px 1404472947.98px 3px #d31674) drop-shadow(17751020078.5px 21728355512.3px 3px #3c4787); }
  387.5% {
    filter: drop-shadow(2595094191.89px 2883067638.98px 3px #df1074) drop-shadow(32394303500.6px 40876312662.5px 3px #224887); }
  400% {
    filter: drop-shadow(5030537756.63px 5778188586.66px 3px #35327f) drop-shadow(58075742349px 75477535427px 3px #d84083); } }

/* This page is meant to take up the entire viewport. Vertical scrolling 
 * optional for very small devices. (They should be viewing the static page).
*/
html, body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0px;
  padding: 0px; }

body {
  background-color: #202020;
  background: url(images/bg.png); }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    body {
      background: url(images/bg@2X.png); } }

/* Allow for minor scaling depending on screen size */
/*Centered column to hold the content */
#container {
  margin: 0 auto;
  padding: 25px 0;
  display: block;
  position: relative;
  text-align: center;
  width: 100%;
  max-width: 414px;
  min-width: 320px;
  /* Images should be constrained to the width of the container. */
  /* Wrapper div adds the glitching scanline effect. */
  /* Class added to the wrapping <picture> tag for positioning. */ }
  #container img {
    max-width: 50%; }
  #container #logo {
    /* Required to make the absolute positioning of the duplicate images
		 * work.
		*/
    position: relative;
    /* Image should fit inside the viewport at all times */
    max-height: 100vh; }
    @media screen and (prefers-reduced-motion: no-preference) {
      #container #logo {
        /* Add the surreal image effect to one of the logo images. */ }
        #container #logo picture:nth-child(1) img {
          animation: surreal 3s linear infinite;
          animation-fill-mode: both; } }
  #container #title {
    /* This puts it around breast height. */
    width: 100%; }
    #container #title img {
      /* Distorted retro 3D effect, changed to fit color scheme. */
      filter: drop-shadow(1px 1px 3px #df1074) drop-shadow(-1px -1px 3px #047ba5); }
  #container #linked-list {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace; }
    #container #linked-list a {
      color: #EFEFF4;
      text-decoration: none;
      max-width: 256px;
      margin: 10px auto;
      display: block; }
      @media screen and (max-width: 600px) {
        #container #linked-list a {
          height: 48px;
          margin: 10px auto;
          background: rgba(32, 32, 32, 0.75);
          line-height: 48px;
          font-weight: bolder; } }
      #container #linked-list a :visited {
        color: inherit; }

/* Link on the 404 page back to */
#not-found {
  width: 100%;
  margin: 50px auto;
  text-align: center; }
  #not-found a {
    color: #EFEFF4;
    display: block;
    font-size: 1rem;
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    text-decoration: none; }
    #not-found a :visited {
      color: inherit; }
